<section class=" header-background gh-header is-{{#match headerStyle "Magazine"}}magazine{{else match headerStyle "Highlight"}}highlight{{else}}classic{{/match}}{{#if @custom.background_image}}{{#if @site.cover_image}} has-image{{/if}}{{/if}} gh-outer">
        
    {{!-- Background image --}}
    {{#if @custom.background_image}}
        {{#match headerStyle "!=" "Magazine"}}
        {{#match headerStyle "!=" "Highlight"}}
            {{#if @site.cover_image}}
                <img class="gh-header-image" src="{{@site.cover_image}}" alt="{{@site.title}}">
            {{/if}}
        {{/match}}
        {{/match}}
    {{/if}}

    <div class="gh-header-inner gh-inner">

        {{!-- Highlight layout --}}
        {{!-- {{#match headerStyle "Highlight"}} --}}
            <div class="gh-header-left">
                <h1>Renforcez Votre Présence en Ligne<br>Création Site Web, SEO, Hébergement, tout en un lieu.</h1>
            </div>
            <div class="gh-header-middle">
            </div>
            <div class="gh-header-right">
                <img src="/assets/images/Mejri_Media.png"/>
            </div>
        {{!-- {{/match}} --}}



        {{!-- Search layout --}}
        {{!-- {{#match headerStyle "Search"}}
            <h1 class="gh-header-title is-title">{{#if @custom.header_text}}{{@custom.header_text}}{{else}}{{@site.title}}{{/if}}</h1>
            <h1>{{@site.description}}</h1>
            <form class="gh-form">
                {{> "icons/search"}}
                <button class="gh-form-input" data-ghost-search>Search posts, tags and authors</button>
            </form>
        {{/match}} --}}

    </div>

</section>